/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* CAROUSEL + TESTIMONIALS */

.has-testimonials
{
    grid-area: testimonials;
    height: 100%;
}
.has-carousel
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100%;
    min-height: 620px;
    margin: 0 auto;
}
#carousel
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#carousel .carousel-track-container
{
    overflow: hidden;
    width: 100%;
    margin: 0 5%;
}
.has-carousel #carousel .carousel-track
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 5%;
    width: 100%;
    height: 100%;
    list-style: none;
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}
#carousel a,
#carousel p
{
    color: var(--n-dark-grayish-blue);
    text-decoration: none;
}
.has-carousel h2
{
    position: relative;
    top: 40px;
    font-weight: 700;
}
#carousel .carousel-card
{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 300px;
    max-height: 350px;
    background: -webkit-gradient(linear, left bottom, left top, from(var(--n-light-grey)), color-stop(77%, var(--n-light-grey)), color-stop(77%, transparent), to(transparent));
    background: -o-linear-gradient(bottom, var(--n-light-grey) 0%, var(--n-light-grey) 77%, transparent 77%, transparent 100%);
    background: linear-gradient(0deg, var(--n-light-grey) 0%, var(--n-light-grey) 77%, transparent 77%, transparent 100%);
    width: 100%;
    margin: 0 10px;
}
#carousel  .carousel-card-img,
#carousel  .card-body,
#carousel  .card-head
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
}
#carousel  .carousel-card-img
{
    -o-object-fit: contain;
       object-fit: contain;
}
.circle img
{
    border-radius: 50%;
}
#carousel  .carousel-card .card-body p
{
    width: 90%;
}
.has-carousel #carousel .is-hidden
{
    visibility: hidden;
    pointer-events: none;
}
#carousel .carousel-change-left,
#carousel .carousel-change-right
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
}
.carousel-button
{
    height: 8px;
    width: 6px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: var(--n-pale-red);
    margin: 2px 0;
}
.carousel-change-left > span,
.carousel-change-right > span
{
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.carousel-change-right:hover .carousel-button-right-top,
.carousel-change-right:hover .carousel-button-right-bottom
{
    border-top: none;
    border-bottom: none;
    background: -webkit-gradient(linear, left top, right top, from(var(--n-pale-red)), to(var(--p-bright-red)));
    background: -o-linear-gradient(left, var(--n-pale-red), var(--p-bright-red));
    background: linear-gradient(to right, var(--n-pale-red), var(--p-bright-red));
}
.carousel-change-left:hover .carousel-button-left-top,
.carousel-change-left:hover .carousel-button-left-bottom
{
    border-top: none;
    border-bottom: none;
    background: -webkit-gradient(linear, right top, left top, from(var(--n-pale-red)), to(var(--p-bright-red)));
    background: -o-linear-gradient(right, var(--n-pale-red), var(--p-bright-red));
    background: linear-gradient(to left, var(--n-pale-red), var(--p-bright-red));
}
.carousel-button-left-top,
.carousel-button-right-bottom
{
    -webkit-transform: skew(-40deg);
        -ms-transform: skew(-40deg);
            transform: skew(-40deg);
}
.carousel-button-left-bottom,
.carousel-button-right-top
{
    -webkit-transform: skew(40deg);
        -ms-transform: skew(40deg);
            transform: skew(40deg);
}
.carousel-button-left-top,
.carousel-button-right-top
{
    border-top: 3px solid var(--p-bright-red);
}
.carousel-button-left-bottom,
.carousel-button-right-bottom
{
    border-bottom: 3px solid var(--p-bright-red);
}
.carousel-button-left-top,
.carousel-button-left-bottom
{
    border-left: 4px solid var(--p-bright-red);
}
.carousel-button-right-top,
.carousel-button-right-bottom
{
    border-right: 4px solid var(--p-bright-red);
}
.carousel-nav
{
    width: 40%;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.carousel-nav .carousel-indicator
{
    height: 8px;
    width: 8px;
    border: solid 1px var(--p-bright-red);
    border-radius: 50%;
    background-color: var(--n-pale-red);
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.carousel-nav .current-card.carousel-indicator
{
    background-color: var(--p-bright-red);
}
body .has-carousel button.carousel-get-started
{
    visibility: hidden;
}