/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* CONTENT */

.has-content
{
        grid-template-areas: "content-left content-right";
    grid-area: content;
    margin-top: 45px;
}
.content-left
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: content-left;
}
.content-right
{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: content-right;
}
.has-content .has-content-left
{
    padding-top: 20px;
}
.has-content .product-card
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
}
.has-content .product-card .card-number,
.has-content .product-card .card-head
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
}
.has-content .product-card .card-head
{
    background-color: var(--n-pale-red);
    border-radius: 50px 0 0 50px;
}
.has-content .product-card .card-number
{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    min-width: 80px;
    max-width: 80px;
    height: 100%;
    margin-right: 12px;
    font-size: 1.2rem;
    font-weight: 700;
}
.has-content .product-card .card-head h6
{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--p-dark-blue);
}
.has-main .main-left .below-main-text,
.has-content .content-left .below-main-text
{
    font-size: 1rem;
    letter-spacing: .02rem;
    padding: 20px;
    color: var(--n-dark-grayish-blue);
}
.has-content .product-card .card-body
{
    padding: 1em 0;
    width: 100%;
    text-align: left;
    font-size: .9rem;
    line-height: 1.8rem;
    color: var(--n-dark-grayish-blue);
}