/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* FOOTER */

.has-footer
{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: .2fr .2fr .2fr;
    grid-template-rows: .2fr .2fr .2fr;
        grid-template-areas: 
    "footer-top"
    "footer-bottom"
    "footer-bottom";
    grid-area: footer;
}
.footer-top
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--p-bright-red);
    grid-area: footer-top;
    color: var(--n-light-grey);
    padding: 66px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    background-image: url(../images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0rem 1.6rem;
    background-size: 20%;
}
.footer-top h3
{
    font-size: 2rem;
}
.footer-bottom
{
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    background-color: var(--n-dark-blue);
    -ms-grid-rows: .2fr .4fr .2fr .2fr;
    grid-template-rows: .2fr .4fr .2fr .2fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-area: footer-bottom;
    color: var(--n-light-grey);
}
.footer-bottom > *:nth-child(1)
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.footer-bottom > *:nth-child(2)
{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.footer-bottom > *:nth-child(3)
{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.footer-bottom > *:nth-child(4)
{
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}
.sign-up
{
    margin-top: 40px;
}
body .has-footer .footer .footer-bottom .footer-go
{
    position: relative;
    width: 80px;
    background-color: var(--p-bright-red);
}
body .has-footer .footer .footer-bottom .footer-go::after
{
    content: '';
    background-color: rgba(255, 255, 255, .15);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    z-index: -1;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
body .has-footer .footer .footer-bottom form
{
    max-height: 45px;
}
body .has-footer .footer .footer-bottom input
{
    max-height: 45px;
    padding: 15px;
    outline: none;
    border: none;
}
body .has-footer .footer .footer-bottom input,
.footer .footer-button
{
    color: var(--p-bright-red);
}
svg
{
    fill: var(--n-light-grey);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
svg:hover
{
    fill: var(--p-bright-red);
}
.footer-links
{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: 
    "list-one list-two";
    color:var(--n-dark-grayish-blue);
    margin: 40px 0;
    line-height: 1.8rem;
}
.footer-links-item:hover
{
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    color: var(--p-bright-red);
}
.list-one
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    margin-left: 37%;
    grid-area: list-one;
}
.list-two
{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    margin-left: 37%;
    grid-area: list-two;
}
.footer-links ul
{
    text-align: left;
}
.social-media-links
{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-logo,
.social-media-links-item
{
    margin: 0 20px 25px 20px;
}
.footer-logo
{
    margin-top: 20px;
}
.copyright-text
{
    margin-bottom: 40px;
}
.footer-logo-large-viewport,
.copyright-text-large-viewport
{
    position: absolute;
    visibility: hidden;
}