/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* MEDIA QUERIES */

@media screen and (min-width: 576px)
{
    body.grid-container
    {
        max-width: 100%;
    }
    .has-nav-bar .nav-bar 
    {
        background-position: -1.82rem -5rem;
    }
    .has-nav-bar .nav-bar #nav-toggle
    {
        right: 16%;
    }
    .main-right img
    {
        width: 80%;
    }
    .list-one,
    .list-two
    {
        margin-left: 37%;
    }
}
@media screen and (min-width: 768px)
{
    body .grid-container
    {
        background-position: 18rem -9.5rem, -28rem 38.2rem;
        background-size: 80%, 80%;
    }
    .has-nav-bar .nav-bar 
    {
        background-position: -2.35rem -5rem;
    }
    .has-nav-bar .nav-bar #nav-toggle
    {
        right: 4%;
    }
    .has-nav-bar .nav-bar .navlist
    {
        margin-top: 42px;
        height: 380px;
        font-size: 1.6rem;
    }
    .main-right,
    .main-left
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
    }
    .main-right img
    {
        -o-object-fit: cover;
           object-fit: cover;
    }
    .main-right img,
    .main-left p,
    .main-left h1
    {
        width: 70%;
    }
    #carousel
    {
        width: 80%;
    }
    #carousel .carousel-track-container
    {
        width: 80vw;
        margin: 0 10%;
    }
    .footer-top
    {
        background-position: 0rem .6rem;
        background-size: 8%;
    }
}
@media screen and (min-width: 992px)
{
    .has-nav-bar .nav-bar .navlist
    {
        height: 540px;
        font-size: 1.8rem;
    }
    body .grid-container
    {
        background-position: 30rem -13rem, -28rem 40.2rem;
        background-size: 70%, 70%;
    }
    .has-nav-bar .nav-bar 
    {
        background-position: -2.34rem -5rem;
    }
    #carousel .carousel-track-container
    {
        width: 70vw;
        margin: 0 12%;
    }
    .footer-top
    {
        background-position: 0rem 1.8rem;
        background-size: 5%;
    }
    .list-one,
    .list-two
    {
        margin-left: 42%;
    }
}
@media screen and (min-width: 1024px)
{
    .has-nav-bar .nav-bar 
    {
        background-position: -3.1rem -5rem;
    }
}
@media screen and (min-width: 1200px)
{
    body .grid-container
    {
        padding-top: 20px;
    }
    .has-nav-bar .nav-bar .nav-logo
    {
        visibility: visible;
        margin-top: 30px;
        margin-left: 9px;
    }
    .has-nav-bar .nav-bar #nav-toggle
    {
        visibility: hidden;
    }
    .has-nav-bar .nav-bar .navlist
    {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 0;
        font-size: .8rem;
        height: calc(100%);
        padding: 0;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        background-color: transparent;
        font-weight: 500;
    }
    .has-nav-bar .nav-bar .navlist .navitem
    {
        margin-right: 7px;
        margin-left: 7px;
        width: 65px;
        border-radius: 50px;
        background: #ffffff;
    }
}
@media screen and (min-width: 1366px)
{
    body .grid-container
    {
        display: -ms-grid;
        display: grid;
        height: calc(100%);
        -ms-grid-columns: (minmax(10px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        -ms-grid-rows: .2fr .2fr .3fr .4fr .3fr .3fr .05fr;
        grid-template-rows: .2fr .2fr .3fr .4fr .3fr .3fr .05fr;
            grid-template-areas: 
            "nav nav"
            "main main"
            "content content"
            "testimonials testimonials"
            "footer footer"
            "footer footer"
            "attribution attribution"
        ;
        background-position: 50rem -7rem, -32rem 70rem;
        background-size: 55%, 55%;
    }
    body  .btn-style
    {
        margin-top: 20px;
    }
    body .has-nav-bar,
    body .has-main,
    body .has-content,
    body .has-footer .footer-top,
    body .has-footer .footer-bottom
    {
        padding-left: 8%;
        padding-right: 8%;
    }
    body button 
    {
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    body button:hover
    {
        opacity: .8;
    }
    body .has-nav-bar
    {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: transparent;
        grid-area: nav;
        z-index: 10;
        margin-bottom: 0;
        height: 100%;
    }
    body .has-nav-bar .nav-bar 
    {
        position: fixed;
        background: var(--n-light-grey);
        min-width: 50%;
        max-width: 81.8%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 20px;
        background-color: transparent;
    }
    .has-nav-bar .nav-bar .nav-collapsible 
    {
        min-width: 40%;
        max-width: 80%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    body .has-nav-bar .nav-bar .nav-get-started
    {
        visibility: visible;
        position: relative;
    }
    .has-main,
    .has-content
    {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .has-main
    {
        grid-area: main;
            grid-template-areas: "main-left main-right";
    }
    .main-left
    {
        grid-area: main-left;
    }
    .main-right
    {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        grid-area: main-right;
    }
    .main-right
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
    }
    .main-right img
    {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
    }
    .main-left p,
    .main-left h1
    {
        width: 85%;
    }
    .has-content
    {
        grid-area: content;
            grid-template-areas: "content-left content-right";
    }
    .content-left
    {
        grid-area: content-left;
    }
    .content-right
    {
        grid-area: content-right;
    }
    .has-main .main-left,
    .has-content .content-left
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-align: left;
    }
    .has-main .main-left .below-main-text,
    .has-content .content-left .below-main-text
    {
        padding: 0;
        width: 61%;
        margin: 25px 0;
        color: var(--n-dark-grayish-blue);
    }
    body h1
    {
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.7rem;
    }
    body h2
    {
        font-size: 2.2rem;
        font-weight: 700;
        width: 75%;
    }
    .main-left
    {
        padding: 70px 10px 10px 20px;
    }
    .content-left
    {
        padding: 10px 20px;
    }
    .has-content .product-card .card-head
    {
        background-color: transparent;
    }
    .has-content .product-card .card-body
    {
        margin-left: 92px;
        width: 82%;
        text-align: left;
        font-size: 1rem;
    }
    #carousel .carousel-change-left,
    #carousel .carousel-change-right
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 150px;
    }
    #carousel .carousel-change-left
    {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    #carousel .carousel-change-right
    {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .carousel-button
    {
        height: 18px;
        width: 10px;
    }
    #carousel .carousel-track-container
    {
        margin: 0 22%;
    }
    .carousel-nav
    {
        width: 10%;
    }
    .carousel-nav .carousel-indicator
    {
        height: 12px;
        width: 12px;
    }
    body .has-carousel button.carousel-get-started
    {
        visibility: visible;
    }
    .has-footer
    {
        margin-top: 120px;
    }
    .footer-top
    {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
            grid-template-areas: 
        "footer-heading footer-button";
        background-image: url(../images/bg-simplify-section-desktop.svg);
        background-repeat: no-repeat;
        background-position: 12.5rem -8rem;
        background-size: 100%;
    }
    .footer-top-left-top
    {
        text-align: left;
    }
    .footer-top-right-bottom
    {
        text-align: right;
    }
    .footer-bottom
    {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
        "social-media-links-wrap footer-links sign-up";
        max-height: 320px;
        padding-top: 40px;
    }
    .list-one,
    .list-two
    {
        margin-left: 25%;

    }
    .footer-logo,
    .copyright-text
    {
        visibility: hidden;
    }
    .footer-logo-large-viewport,
    .copyright-text-large-viewport
    {
        position: relative;
        visibility: visible;
    }
    .footer-logo-large-viewport
    {
        max-width: 44%;
    }
    .copyright-text-large-viewport
    {
        margin-top: 90px;
    }
    .footer-links
    {
        grid-area: footer-links;
    }
    .social-media-links-wrap
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        grid-area: social-media-links-wrap;
        margin: 50px 0 0 50px;
    }
    .list-one,
    .list-two
    {
        margin-left: 0;
    }
    .social-media-links {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .footer-logo, .social-media-links-item {
        margin: 0 21px 15px 0;
    }
    .sign-up
    {
        grid-area: sign-up;
        margin-top: 20px;
    }
    .footer-heading
    {
        font-size: 2.4rem;
        grid-area: footer-heading;
        margin-left: 50px;
        max-width: 70%;
    }
    .footer-button
    {
        margin-right: 50px;
        grid-area: footer-button;
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .attribution
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 40px;
        margin-top: 40px;
        font-size: .8rem;
        color: var(--n-pale-red);
    }
    .attribution span
    {
        margin: 0 12px;
    }
    .footer-heading
    {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .footer-links
    {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .social-media-links-wrap
    {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .sign-up
    {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .content-left
    {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .content-right
    {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .main-left
    {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .main-right
    {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    body .has-nav-bar
    {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .has-main
    {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .has-content
    {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
}
@media screen and (min-width: 1900px)
{
    body .grid-container
    {
        background-position: 65rem -18rem, -42rem 80rem;
    }
    .has-nav-bar .nav-bar .nav-logo
    {
        margin-left: 7px;
    }
    body .has-nav-bar .nav-bar 
    {
        max-width: 74.6%;
    }
    .main-left h1
    {
        width: 75%;
    }
    .has-content .content-left .below-main-text,
    .has-main .main-left .below-main-text
    {
        width: 50%;
    }
    .has-content .product-card .card-body
    {
        width: 70%;
    }
    #carousel
    {
        width: 60%;
    }
    .footer-top
    {
        background-position: 12.5rem -16rem;
        background-size:110%;
    }
    .footer-bottom .sign-up
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin-right: 50px;
    }
    .list-one,
    .list-two
    {
        margin-left: 40px;
    }
    body .has-nav-bar, 
    body .has-main, 
    body .has-content,
    body .has-footer .footer-top, 
    body .has-footer .footer-bottom
    {
        padding-left: 12%;
        padding-right: 12%;
    }
}