/* MEDIA QUERIES */

@media screen and (min-width: 576px)
{
    body.grid-container
    {
        max-width: 100%;
    }
    .has-nav-bar .nav-bar 
    {
        background-position: -1.82rem -5rem;
    }
    .has-nav-bar .nav-bar #nav-toggle
    {
        right: 16%;
    }
    .main-right img
    {
        width: 80%;
    }
}
@media screen and (min-width: 768px)
{
    body .grid-container
    {
        background-position: 18rem -9.5rem, -28rem 38.2rem;
        background-size: 80%, 80%;
    }
    .has-nav-bar .nav-bar 
    {
        background-position: -2.35rem -5rem;
    }
    .has-nav-bar .nav-bar #nav-toggle
    {
        right: 4%;
    }
    .has-nav-bar .nav-bar .navlist
    {
        margin-top: 42px;
        height: 380px;
        font-size: 1.6rem;
    }
    .main-right,
    .main-left
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .main-right img
    {
        object-fit: cover;
    }
    .main-right img,
    .main-left p,
    .main-left h1
    {
        width: 70%;
    }
    #carousel
    {
        width: 80%;
    }
    #carousel .carousel-track-container
    {
        width: 80vw;
        margin: 0 10%;
    }
    .footer-top
    {
        background-position: 0rem .6rem;
        background-size: 8%;
    }
}
@media screen and (min-width: 992px)
{
    .has-nav-bar .nav-bar .navlist
    {
        height: 540px;
        font-size: 1.8rem;
    }
    body .grid-container
    {
        background-position: 30rem -13rem, -28rem 40.2rem;
        background-size: 70%, 70%;
    }
    .has-nav-bar .nav-bar 
    {
        background-position: -2.34rem -5rem;
    }
    #carousel .carousel-track-container
    {
        width: 70vw;
        margin: 0 12%;
    }
    .footer-top
    {
        background-position: 0rem 1.8rem;
        background-size: 5%;
    }
    .list-one,
    .list-two
    {
        margin-left: 42%;

    }
}
@media screen and (min-width: 1024px)
{
    .has-nav-bar .nav-bar 
    {
        background-position: -3.1rem -5rem;
    }
}
@media screen and (min-width: 1366px)
{
    body .grid-container
    {
        display: grid;
        height: calc(100%);
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        grid-template-rows: .2fr .2fr .3fr .4fr .3fr .3fr .05fr;
        grid-template-areas: 
            "nav nav"
            "main main"
            "content content"
            "testimonials testimonials"
            "footer footer"
            "footer footer"
            "attribution attribution"
        ;
        background-position: 58rem -16rem, -28rem 56rem;
        background-size: 50%, 50%;
    }
    body  .btn-style
    {
        margin-top: 20px;
    }
    .has-nav-bar .nav-bar .nav-logo
    {
        visibility: visible;
        margin-top: 30px;
        margin-left: 9px;
    }
    .has-nav-bar .nav-bar 
    {
        width: 96%;
        position: fixed;
        background: var(--n-light-grey);
    }
    body .has-nav-bar,
    body .has-main,
    body .has-content,
    body .has-footer .footer-top,
    body .has-footer .footer-bottom
    {
        padding-left: 8%;
        padding-right: 8%;
    }
    .has-nav-bar .nav-bar #nav-toggle
    {
        visibility: hidden;
    }
    body button 
    {
        transition: .3s ease-in-out;
    }
    body button:hover
    {
        opacity: .8;
    }
    body .has-nav-bar
    {
        position: sticky;
        top: 0;
        background-color: transparent;
        grid-area: nav;
        z-index: 10;
        margin-bottom: 0;
        height: 100%;
    }
    body .has-nav-bar .nav-bar 
    {
        min-width: 50%;
        max-width: 81.8%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        background-color: transparent;
    }
    .has-nav-bar .nav-bar .nav-collapsible {
        min-width: 40%;
        max-width: 80%;
        flex-direction: row;
        justify-content: center;
    }
    .has-nav-bar .nav-bar .navlist
    {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        font-size: .8rem;
        height: calc(100%);
        padding: 0;
        transform: translateX(0);
        background-color: transparent;
        font-weight: 500;
    }
    .has-nav-bar .nav-bar .navlist .navitem
    {
        margin-right: 7px;
        margin-left: 7px;
        width: 115px;
        border-radius: 50px;
        background: #ffffff;
    }
    body .has-nav-bar .nav-bar .nav-get-started
    {
        visibility: visible;
        position: relative;
    }
    .has-main,
    .has-content
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .has-main
    {
        grid-area: main;
        grid-template-areas: "main-left main-right";
    }
    .main-left
    {
        grid-area: main-left;
    }
    .main-right
    {
        justify-content: flex-end;
        grid-area: main-right;
    }
    .main-right
    {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .main-right img
    {
        object-fit: cover;
    }
    .main-right img,
    .main-left p,
    .main-left h1
    {
        width: 70%;
    }
    .has-content
    {
        grid-area: content;
        grid-template-areas: "content-left content-right";
    }
    .content-left
    {
        grid-area: content-left;
    }
    .content-right
    {
        grid-area: content-right;
    }
    .has-main .main-left,
    .has-content .content-left
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .has-main .main-left .below-main-text,
    .has-content .content-left .below-main-text
    {
        padding: 0;
        width: 80%;
        margin: 25px 0;
        color: var(--n-dark-grayish-blue);
    }
    body h1
    {
        font-size: 2.6rem;
        font-weight: 700;
        width: 80%;
    }
    body h2
    {
        font-size: 2rem;
        font-weight: 700;
        width: 60%;
    }
    .main-left,
    .content-left
    {
        padding: 20px;
    }
    .has-content .product-card .card-head
    {
        background-color: transparent;
    }
    #carousel .carousel-change-left,
    #carousel .carousel-change-right
    {
        display: flex;
        width: 150px;
    }
    #carousel .carousel-change-left
    {
        align-items: flex-end;
    }
    #carousel .carousel-change-right
    {
        align-items: flex-start;
    }
    .carousel-button
    {
        height: 18px;
        width: 10px;
    }
    #carousel .carousel-track-container
    {
        margin: 0 22%;
    }
    .carousel-nav
    {
        width: 10%;
    }
    .carousel-nav .carousel-indicator
    {
        height: 12px;
        width: 12px;
    }
    body .has-carousel button.carousel-get-started
    {
        visibility: visible;
    }
    .has-footer
    {
        margin-top: 120px;
    }
    .footer-top
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "footer-heading footer-button";
        background-image: url(../images/bg-simplify-section-desktop.svg);
        background-repeat: no-repeat;
        background-position: 12.5rem -8rem;
        background-size: 100%;
    }
    .footer-top-left-top
    {
        text-align: left;
    }
    .footer-top-right-bottom
    {
        text-align: right;
    }
    .footer-bottom
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "social-media-links-wrap footer-links sign-up";
        max-height: 320px;
        padding-top: 40px;
    }
    .list-one,
    .list-two
    {
        margin-left: 25%;

    }
    .footer-logo,
    .copyright-text
    {
        visibility: hidden;
    }
    .footer-logo-large-viewport,
    .copyright-text-large-viewport
    {
        position: relative;
        visibility: visible;
    }
    .footer-logo-large-viewport
    {
        max-width: 44%;
    }
    .copyright-text-large-viewport
    {
        margin-top: 60px;
    }
    .footer-links
    {
        grid-area: footer-links;
    }
    .social-media-links-wrap
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: social-media-links-wrap;
        margin: 50px 0 0 50px;
    }
    .list-one,
    .list-two
    {
        margin-left: 0;
    }
    .social-media-links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer-logo, .social-media-links-item {
        margin: 0 20px 25px 4px;
    }
    .sign-up
    {
        grid-area: sign-up;
        margin-top: 20px;
    }
    .footer-heading
    {
        font-size: 2.4rem;
        grid-area: footer-heading;
        margin-left: 50px;
        max-width: 70%;
    }
    .footer-button
    {
        margin-right: 50px;
        grid-area: footer-button;
    }
    .attribution
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        margin-top: 40px;
        font-size: .8rem;
        color: var(--n-pale-red);
    }
    .attribution span
    {
        margin: 0 12px;
    }
}
@media screen and (min-width: 1900px)
{
    body .grid-container
    {
        background-position: 78rem -12rem, -20rem 60rem;
        background-size: 40%, 40%;
    }
    .has-nav-bar .nav-bar .nav-logo
    {
        margin-left: 7px;
    }
    body .has-nav-bar .nav-bar 
    {
        max-width: 74.6%;
    }
    #carousel
    {
        width: 60%;
    }
    .footer-top
    {
        background-position: 12.5rem -16rem;
        background-size:110%;
    }
    .footer-bottom .sign-up
    {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 50px;
    }
    body .has-nav-bar, 
    body .has-main, 
    body .has-content,
    body .has-footer .footer-top, 
    body .has-footer .footer-bottom
    {
        padding-left: 12%;
        padding-right: 12%;
    }
}