/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* NAVBAR */

body .has-nav-bar
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    grid-area: nav;
    z-index: 10;
    margin-bottom: 0;
    height: 100%;
    max-width: 100%;
}
.has-nav-bar .nav-bar 
{
    width: 87%;
    position: fixed;
    background: #fff;
    background-image: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: -1.12rem -5rem;
    background-size: 141%;
    border-radius: 0 0 4px 4px;
}
.has-nav-bar .nav-bar .nav-logo
{
    visibility: hidden;
    margin-top: 45px;
    z-index: 10;
}
.has-nav-bar .nav-bar .nav-collapsible
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.has-nav-bar .nav-bar .navlist
{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 320px;
    width: 100%;
    -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
            transform: translateX(120%);
    margin: 34px 0;
    background-color: var(--n-light-grey);
    color: var(--n-dark-blue);
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
    border-radius: 4px;
    z-index: 10;
}
.has-nav-bar .nav-bar .navlist.active
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.has-nav-bar .nav-bar .navlist .navitem
{
    margin-top: 8px;
    width: 100%;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding: 6px 10px;
}
.has-nav-bar .nav-bar .navlist .navitem:hover
{
    color: var(--n-dark-grayish-blue);
}
.has-nav-bar .nav-bar #nav-toggle
{
    position: absolute;
    top: 45%;
    right: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    cursor: pointer;
}
.mobile-logo
{
    margin-top: 7px;
    margin-right: 12px;
}
.nav-collapsible div[class^="dot"]
{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 4px;
    background-color: var(--p-bright-red);
    position: relative;
    -webkit-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}
.has-nav-bar .nav-bar #nav-toggle.active .dot-one
{
    border-radius: 4px;
    width: 28px;
    -webkit-transform: rotate(38deg) translate(.1em, .38em);
        -ms-transform: rotate(38deg) translate(.1em, .38em);
            transform: rotate(38deg) translate(.1em, .38em);
}
.has-nav-bar .nav-bar #nav-toggle.active .dot-two
{
    border-radius: 4px;
    width: 28px;
    -webkit-transform: rotate(-38deg) translate(.12em, -.38em);
        -ms-transform: rotate(-38deg) translate(.12em, -.38em);
            transform: rotate(-38deg) translate(.12em, -.38em);
}
.has-nav-bar .nav-bar #nav-toggle.active .dot-three,
.has-nav-bar .nav-bar #nav-toggle.active .dot-four
{
    -webkit-transform: translateX(-24px);
        -ms-transform: translateX(-24px);
            transform: translateX(-24px);
    opacity: 0;
}
.nav-collapsible .dot-two
{
    opacity: .9;
}
.nav-collapsible .dot-three
{
    opacity: .7;
}
.nav-collapsible .dot-four
{
    opacity: .4;
}
body .has-nav-bar .nav-bar .nav-get-started
{
    visibility: hidden;
    position: absolute;
}