/* Global Classes */
:root {
    /* P = Primary | N = Neutral */

    --p-bright-red: hsl(12, 88%, 59%);
    --p-dark-blue: hsl(228, 39%, 23%);

    --n-dark-grayish-blue: hsl(227, 12%, 61%);
    --n-dark-blue: hsl(233, 12%, 13%);
    --n-pale-red: hsl(13, 100%, 96%);
    --n-light-grey: hsl(0, 0%, 98%);
}
*,
body section p,
body ul
{
    margin: 0;
    padding: 0;
}
body
{
    overflow-x: hidden;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    text-align: center;
}
body h1
{
    font-size: 4.2rem;
}
body h2
{
    font-size: 3.6rem;
}
body section .round-radius
{
    border-radius: 50px;
}
body section
{
    margin-bottom: 120px;
}
body section button:focus 
{ 
    outline: none; 
}
body section .button-shadow
{
    position: relative;
}
body section .button-shadow::after
{
    content: '';
    position: absolute;
    border-radius: 50px;
    height: 100%;
    width: 90%;
    top:-3px;
    left:5%;
    box-shadow: 0px 7px 12px var(--p-bright-red);
}
body section .btn-style
{
    height: 60px;
    width: 220px;
    border: none;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 20px;
}
body section .btn-color,
body section .card-number
{
    background-color: var(--p-bright-red);
    color: var(--n-pale-red);
}
body section.inverted
{
    background-color: var(--n-pale-red);
    color: var(--p-bright-red);
}
body .container
{
    display: grid;
    height: calc(100%);
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .4fr .4fr .4fr .4fr .25fr .05fr;
    grid-template-areas: 
        "nav"
        "main"
        "content"
        "testimonials"
        "footer"
        "footer"
        "attribution"
    ;
    padding: 0;
}
.has-navbar
{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    grid-area: nav;
    z-index: 10;
}
section.has-navbar .navbar 
{
    padding: 20px;
    position: relative;
}
section.has-navbar .navbar .nav-logo
{
    margin-top: 20px;
    z-index: 10;
}
section.has-navbar .navbar .navlist
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.nav-collapsible div[class^="dot"]
{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 4px;
    background-color: var(--p-bright-red);
    position: relative;
}
.nav-collapsible .dot-two
{
    opacity: .9;
}
.nav-collapsible .dot-three
{
    opacity: .7;
}
.nav-collapsible .dot-four
{
    opacity: .4;
}
.nav-collapsible .dot-one::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 28px;
    background-color: black;
    transform: rotate(38deg) translate(.1em, .38em);
    border-radius: 4px;
    opacity: 1;
}
.nav-collapsible .dot-three::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 8px;
    width: 28px;
    background-color: black;
    transform: rotate(142deg) translate(.12em, -.38em);
    border-radius: 4px;
    opacity: 1;
}
section.has-navbar .navbar .nav-toggle
{
    display: flex;
    flex-direction: row;
}
section.has-navbar .navbar .navlist .navitem
{
    margin-right: 30px;
}
body ul li
{
    list-style-type: none;
    cursor: pointer;
}
body .has-navbar,
body .has-main,
body .has-content
{
    padding-left: 2%;
    padding-right: 2%;
}
.has-main
{
    grid-template-areas: "main-right main-left";
    grid-area: main;
    display: flex;
    flex-direction: column-reverse;
}
.main-right
{
    display: flex;
    justify-content: center;
    grid-area: main-right;
}
.main-left
{
    grid-area: main-left;
    padding: 20px;
}
.has-content
{
    grid-template-areas: "content-left content-right";
    grid-area: content;
}
.content-left
{
    grid-area: content-left;
}
.content-right
{
    grid-area: content-right;
}
/* Product Info */
section.has-content .has-content-left
{
    padding-top: 20px;
}
section.has-content .product-card
{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
section.has-content .product-card .card-number,
section.has-content .product-card .card-head
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
section.has-content .product-card .card-head
{
    background-color: var(--n-pale-red);
    border-radius: 50px 0 0 50px;
}
section.has-content .product-card .card-number
{
    justify-content: center;
    padding: 0;
    min-width: 90px;
    max-width: 90px;
    height: 100%;
    margin-right: 30px;
    font-size: 1.2rem;
    font-weight: 700;
}
section.has-content .product-card .card-head h6
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0;
}
section.has-main .main-left .below-main-text,
section.has-content .content-left .below-main-text
{
    font-size: 1.8rem;
    padding: 20px;
}
section.has-content .product-card .card-body
{
    padding: 1em 0;
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: var(--n-dark-grayish-blue);
}
.has-testimonials
{
    grid-area: testimonials;
    height: 100%;
}
.has-footer
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .2fr .2fr;
    grid-template-areas: 
    "footer-top"
    "footer-bottom"
    "footer-bottom";
    grid-area: footer;
}
.footer-top
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--p-bright-red);
    grid-area: footer-top;
    color: var(--n-light-grey);
    padding: 66px;
    flex-wrap: wrap;
}
.footer-bottom
{
    display: grid;
    background-color: var(--n-dark-blue);
    grid-template-rows: .2fr .4fr .2fr .2fr;
    grid-template-columns: 1fr;
    grid-area: footer-bottom;
    color: var(--n-light-grey);
}
.footer .footer-button
{
    color: var(--p-bright-red);
}
.footer-bottom input
{
    padding: 18px;
    outline: none;
    border: none;
}
.footer-links
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "list-one list-two";
    color:var(--n-dark-grey);
    margin-top: 20px;
}
.list-one
{
    margin-left: 25%;
    grid-area: list-one;
}
.list-two
{
    margin-left: 25%;
    grid-area: list-two;
}
.footer-links ul
{
    text-align: left;
}
.social-media-links
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-logo,
.social-media-links-item
{
    margin: 0 20px 25px 20px;
}
.footer-logo
{
    margin-top: 20px;
}
.attribution
{
    grid-area: attribution;
}
/* Carousel Testimonials */
.has-carousel
{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#carouselExampleIndicators
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 450px;
}
#carouselExampleIndicators a,
#carouselExampleIndicators li
{
    color: var(--n-dark-grayish-blue);
    text-decoration: none;
}
#carouselExampleIndicators li
{
    background-color: var(--n-dark-blue);
}
#carouselExampleIndicators .carousel-inner
{
    min-height: 400px;
}
#carouselExampleIndicators .carousel-inner .carousel-card-img,
#carouselExampleIndicators .carousel-inner .card-body,
#carouselExampleIndicators .carousel-inner .card-head
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#carouselExampleIndicators .carousel-inner .carousel-card .card-body p
{
    width: 50%;
}
@media screen and (min-width: 768px)
{
    .container
    {
        display: grid;
        height: calc(100%);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .2fr .4fr 1fr 1fr .2fr .4fr .4fr;
        grid-template-areas: 
            "nav nav"
            "main main"
            "content content"
            "testimonials testimonials"
            "footer footer"
            "footer footer"
            "attribution attribution"
        ;
    }
    .has-main,
    .has-content
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .has-main
    {
        grid-area: main;
        grid-template-areas: "main-left main-right";
    }
    .main-left
    {
        grid-area: main-left;
    }
    .main-right
    {
        justify-content: flex-end;
        grid-area: main-right;
    }
    .has-content
    {
        grid-area: content;
        grid-template-areas: "content-left content-right";
    }
    .content-left
    {
        grid-area: content-left;
    }
    .content-right
    {
        grid-area: content-right;
    }
    section.has-content .product-card .card-head
    {
        background-color: transparent;
    }
    .has-footer
    {
        margin-top: 120px;
    }
    .footer-top
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "footer-heading footer-button";
    }
    .footer-top-left-top
    {
        text-align: left;
    }
    .footer-top-right-bottom
    {
        display: flex;
        justify-content: flex-end;
    }
    .footer-heading
    {
        font-size: 3rem;
        grid-area: footer-heading;
        margin-left: 50px;
    }
    .footer-button
    {
        margin-right: 50px;
        grid-area: footer-button;
    }
}