/* Global Classes */
:root {
    /* P = Primary | N = Neutral */

    --p-bright-red: hsl(12, 88%, 59%);
    --p-dark-blue: hsl(228, 39%, 23%);

    --n-dark-grayish-blue: hsl(227, 12%, 61%);
    --n-dark-blue: hsl(233, 12%, 13%);
    --n-pale-red: hsl(13, 100%, 96%);
    --n-light-grey: hsl(0, 0%, 98%);
}
*,
body  p,
body ul
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    text-align: center;
    
}
body h1
{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--p-dark-blue);
}
body h2
{
    font-size: 1.8rem;
    color: var(--p-dark-blue);
}
body  .round-radius
{
    border-radius: 50px;
}
body 
{
    margin-bottom: 80px;
}
body  button:focus 
{ 
    outline: none; 
}
body  .button-shadow
{
    position: relative;
}
body  .button-shadow::after
{
    content: '';
    position: absolute;
    border-radius: 50px;
    height: 80%;
    width: 90%;
    top: 8px;
    left:5%;
    box-shadow: 0px 7px 16px var(--p-bright-red);
}
body .btn-style
{
    min-height: 45px;
    width: 160px;
    border: none;
    font-weight: 700;
    letter-spacing: .018rem;
}
body  .btn-color,
body  .card-number
{
    background-color: var(--p-bright-red);
    color: var(--n-pale-red);
}
body .inverted
{
    background-color: var(--n-pale-red);
    color: var(--p-bright-red);
}
body .grid-container
{
    display: grid;
    height: calc(100%);
    max-width: 100;
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    grid-template-rows: .1fr .4fr .4fr .4fr .4fr .3fr .08fr;
    grid-template-areas:
        "nav"
        "main"
        "content"
        "testimonials"
        "footer"
        "footer"
        "attribution";
    padding: 0;
    overflow: hidden;
    background-image: url(../images/bg-tablet-pattern.svg), url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 3rem -8rem, 15.4rem 34.2rem;
    background-size: 125%, 75%;
}
body .grid-container > section
{
    margin-bottom: 30px;
}
#overlay 
{
    position: fixed;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(0deg, var(--n-dark-blue) 0%, var(--n-pale-red) 100%);
    z-index: 2;
    cursor: pointer;
    transition: .6s ease-in-out;
    pointer-events: none;
}
.overlay-switch#overlay 
{
    opacity: .5;
    pointer-events: all;
}
body ul li
{
    list-style-type: none;
    cursor: pointer;
}
body .has-nav-bar,
body .has-main,
body .has-content
{
    padding-left: 2%;
    padding-right: 2%;
}
.attribution
{
    height: 80px;
    padding: 40px;
    grid-area: attribution;
    color: var(--n-dark-blue);
    font-size: .6rem;
    width: 100%;
}