/* Global Classes */
:root {
    /* P = Primary | N = Neutral */

    --p-bright-red: hsl(12, 88%, 59%);
    --p-dark-blue: hsl(228, 39%, 23%);

    --n-dark-grayish-blue: hsl(227, 12%, 61%);
    --n-dark-blue: hsl(233, 12%, 13%);
    --n-pale-red: hsl(13, 100%, 96%);
    --n-light-grey: hsl(0, 0%, 98%);
}
*,
body  p,
body ul
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    text-align: center;
    
}
body h1
{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--p-dark-blue);
}
body h2
{
    font-size: 1.8rem;
    color: var(--p-dark-blue);
}
body  .round-radius
{
    border-radius: 50px;
}
body 
{
    margin-bottom: 80px;
}
body  button:focus 
{ 
    outline: none; 
}
body  .button-shadow
{
    position: relative;
}
body  .button-shadow::after
{
    content: '';
    position: absolute;
    border-radius: 50px;
    height: 80%;
    width: 90%;
    top: 8px;
    left:5%;
    box-shadow: 0px 7px 16px var(--p-bright-red);
}
body .btn-style
{
    min-height: 45px;
    width: 160px;
    border: none;
    font-weight: 700;
    letter-spacing: .018rem;
}
body  .btn-color,
body  .card-number
{
    background-color: var(--p-bright-red);
    color: var(--n-pale-red);
}
body .inverted
{
    background-color: var(--n-pale-red);
    color: var(--p-bright-red);
}
body .grid-container
{
    display: grid;
    height: calc(100%);
    max-width: 100;
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    grid-template-rows: .1fr .4fr .4fr .4fr .4fr .3fr .08fr;
    grid-template-areas:
        "nav"
        "main"
        "content"
        "testimonials"
        "footer"
        "footer"
        "attribution";
    padding: 0;
    overflow: hidden;
    background-image: url(../images/bg-tablet-pattern.svg), url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 3rem -8rem, 15.4rem 34.2rem;
    background-size: 125%, 75%;
}
body .grid-container > section
{
    margin-bottom: 30px;
}
#overlay 
{
    position: fixed;
    /* display: none; */
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(0deg, var(--n-dark-blue) 0%, var(--n-pale-red) 100%);
    z-index: 2;
    cursor: pointer;
    transition: .6s ease-in-out;
    pointer-events: none;
}
.overlay-switch#overlay 
{
    opacity: .5;
    pointer-events: all;
}
body .has-nav-bar
{

    grid-area: nav;
    z-index: 10;
    margin-bottom: 0;
    height: 100%;
    max-width: 100%;
}
.has-nav-bar .nav-bar 
{
    width: 96%;
    position: fixed;
    background-color: var(--n-light-grey);
    border-radius: 0 0 4px 4px;
}
.has-nav-bar .nav-bar .nav-logo
{
    visibility: hidden;
    margin-top: 45px;
    z-index: 10;
}
.has-nav-bar .nav-bar .nav-collapsible
{
    display: flex;
    min-width: 100%;
    flex-direction: row;
    justify-content: center;
}
.has-nav-bar .nav-bar .navlist
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    height: 320px;
    width: 94%;
    transform: translateX(120%);
    padding: 0 45px;
    background-color: var(--n-light-grey);
    color: var(--n-dark-blue);
    font-size: 1.2rem;
    font-weight: 500;
    transition: .6s ease-in-out;
    border-radius: 4px;
    z-index: 10;
}
.has-nav-bar .nav-bar .navlist.active
{
    transform: translateX(0);
}
.has-nav-bar .nav-bar .navlist .navitem
{
    margin-top: 8px;
    width: 100%;
    transition: .3s ease-in-out;
    padding: 6px 10px;
}
.has-nav-bar .nav-bar .navlist .navitem:hover
{
    color: var(--n-dark-grayish-blue);
}
.has-nav-bar .nav-bar #nav-toggle
{
    position: absolute;
    top: 45%;
    right: .5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.mobile-logo
{
    margin-top: 7px;
    margin-right: 12px;
}
.nav-collapsible div[class^="dot"]
{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 4px;
    background-color: var(--p-bright-red);
    position: relative;
    transition: .6s ease-in-out;
}
.has-nav-bar .nav-bar #nav-toggle.active .dot-one
{
    border-radius: 4px;
    width: 28px;
    transform: rotate(38deg) translate(.1em, .38em);
}
.has-nav-bar .nav-bar #nav-toggle.active .dot-two
{
    border-radius: 4px;
    width: 28px;
    transform: rotate(-38deg) translate(.12em, -.38em);
}
.has-nav-bar .nav-bar #nav-toggle.active .dot-three,
.has-nav-bar .nav-bar #nav-toggle.active .dot-four
{
    transform: translateX(-24px);
    opacity: 0;
}
.nav-collapsible .dot-two
{
    opacity: .9;
}
.nav-collapsible .dot-three
{
    opacity: .7;
}
.nav-collapsible .dot-four
{
    opacity: .4;
}
body .has-nav-bar .nav-bar .nav-get-started
{
    visibility: hidden;
    position: absolute;
}
body ul li
{
    list-style-type: none;
    cursor: pointer;
}
body .has-nav-bar,
body .has-main,
body .has-content
{
    padding-left: 2%;
    padding-right: 2%;
}

/* Main Headers */

.has-main
{
    grid-template-areas: "main-right main-left";
    grid-area: main;
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
}
.main-right
{
    display: flex;
    justify-content: center;
    grid-area: main-right;
    width: 100%;
}
.main-right img
{
    object-fit: cover;
    width: 100%;
}
.main-left
{
    grid-area: main-left;
    width: 100%;
}
.main-left,
.content-left
{
    padding: 20px;
}
.has-content
{
    grid-template-areas: "content-left content-right";
    grid-area: content;
}
.content-left
{
    grid-area: content-left;
}
.content-right
{
    grid-area: content-right;
}

/* Product Info */

.has-content .has-content-left
{
    padding-top: 20px;
}
.has-content .product-card
{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.has-content .product-card .card-number,
.has-content .product-card .card-head
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}
.has-content .product-card .card-head
{
    background-color: var(--n-pale-red);
    border-radius: 50px 0 0 50px;
}
.has-content .product-card .card-number
{
    justify-content: center;
    padding: 0;
    min-width: 80px;
    max-width: 80px;
    height: 100%;
    margin-right: 12px;
    font-size: 1.2rem;
    font-weight: 700;
}
.has-content .product-card .card-head h6
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--p-dark-blue);
}
.has-main .main-left .below-main-text,
.has-content .content-left .below-main-text
{
    font-size: 1rem;
    letter-spacing: .02rem;
    padding: 20px;
    color: var(--n-dark-grayish-blue);
}
.has-content .product-card .card-body
{
    padding: 1em 0;
    width: 100%;
    text-align: left;
    font-size: .9rem;
    line-height: 1.8rem;
    color: var(--n-dark-grayish-blue);
}

/* Carousel Testimonials */

.has-testimonials
{
    grid-area: testimonials;
    height: 100%;
}
.has-carousel
{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    min-height: 620px;
    margin: 0 auto;
}
#carousel
{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#carousel .carousel-track-container
{
    overflow: hidden;
    width: 100%;
    margin: 0 5%;
}
.has-carousel #carousel .carousel-track
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 5%;
    width: 100%;
    height: 100%;
    list-style: none;
    transition: transform 250ms ease-in;
}
#carousel a,
#carousel p
{
    color: var(--n-dark-grayish-blue);
    text-decoration: none;
}
.has-carousel h2
{
    position: relative;
    top: 40px;
    font-weight: 700;
}
#carousel .carousel-card
{
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-height: 350px;
    background: linear-gradient(0deg, var(--n-light-grey) 0%, var(--n-light-grey) 77%, transparent 77%, transparent 100%);
    width: 100%;
    margin: 0 10px;
}
#carousel  .carousel-card-img,
#carousel  .card-body,
#carousel  .card-head
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#carousel  .carousel-card-img
{
    object-fit: contain;
}
.circle img
{
    border-radius: 50%;
}
#carousel  .carousel-card .card-body p
{
    width: 90%;
}
.has-carousel #carousel .is-hidden
{
    visibility: hidden;
    pointer-events: none;
}
#carousel .carousel-change-left,
#carousel .carousel-change-right
{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    width: 50px;
}
.carousel-button
{
    height: 8px;
    width: 6px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: var(--n-pale-red);
    margin: 2px 0;
}
.carousel-change-left > span,
.carousel-change-right > span
{
    transition: all .3s ease;
}
.carousel-change-right:hover .carousel-button-right-top,
.carousel-change-right:hover .carousel-button-right-bottom
{
    border-top: none;
    border-bottom: none;
    background: linear-gradient(to right, var(--n-pale-red), var(--p-bright-red));
}
.carousel-change-left:hover .carousel-button-left-top,
.carousel-change-left:hover .carousel-button-left-bottom
{
    border-top: none;
    border-bottom: none;
    background: linear-gradient(to left, var(--n-pale-red), var(--p-bright-red));
}
.carousel-button-left-top,
.carousel-button-right-bottom
{
    transform: skew(-40deg);
}
.carousel-button-left-bottom,
.carousel-button-right-top
{
    transform: skew(40deg);
}
.carousel-button-left-top,
.carousel-button-right-top
{
    border-top: 3px solid var(--p-bright-red);
}
.carousel-button-left-bottom,
.carousel-button-right-bottom
{
    border-bottom: 3px solid var(--p-bright-red);
}
.carousel-button-left-top,
.carousel-button-left-bottom
{
    border-left: 4px solid var(--p-bright-red);
}
.carousel-button-right-top,
.carousel-button-right-bottom
{
    border-right: 4px solid var(--p-bright-red);
}
.carousel-nav
{
    width: 40%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.carousel-nav .carousel-indicator
{
    height: 8px;
    width: 8px;
    border: solid 1px var(--p-bright-red);
    border-radius: 50%;
    background-color: var(--n-pale-red);
    transition: .3s ease-in-out;
}
.carousel-nav .current-card.carousel-indicator
{
    background-color: var(--p-bright-red);
}
body .has-carousel button.carousel-get-started
{
    visibility: hidden;
}

/* Footer */

.has-footer
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .2fr .2fr;
    grid-template-areas: 
    "footer-top"
    "footer-bottom"
    "footer-bottom";
    grid-area: footer;
}
.footer-top
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--p-bright-red);
    grid-area: footer-top;
    color: var(--n-light-grey);
    padding: 66px;
    flex-wrap: wrap;
    overflow: hidden;
    background-image: url(../images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0rem 1.6rem;
    background-size: 20%;
}
.footer-top h3
{
    font-size: 2rem;
}
.footer-bottom
{
    display: grid;
    background-color: var(--n-dark-blue);
    grid-template-rows: .2fr .4fr .2fr .2fr;
    grid-template-columns: 1fr;
    grid-area: footer-bottom;
    color: var(--n-light-grey);
}
.sign-up
{
    margin-top: 40px;
}
body .has-footer .footer .footer-bottom .footer-go
{
    position: relative;
    width: 80px;
    background-color: var(--p-bright-red);
}
/* body .has-footer .footer .footer-bottom .footer-go:hover
{
    opacity: .8;
} */
body .has-footer .footer .footer-bottom .footer-go::after
{
    content: '';
    background-color: rgba(255, 255, 255, .15);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    z-index: -1;
    transition: .3s ease-in-out;
}
body .has-footer .footer .footer-bottom input
{
    height: 45px;
    padding: 18px;
    outline: none;
    border: none;
}
body .has-footer .footer .footer-bottom input,
.footer .footer-button
{
    color: var(--p-bright-red);
}
svg
{
    fill: var(--n-light-grey);
    transition: .2s ease-in-out;
}
svg:hover
{
    fill: var(--p-bright-red);
}
.footer-links
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "list-one list-two";
    color:var(--n-dark-grayish-blue);
    margin: 40px 0;
    line-height: 1.8rem;
}
.footer-links-item:hover
{
    transition: .3s ease-in-out;
    color: var(--p-bright-red);
}
.list-one
{
    margin-left: 25%;
    grid-area: list-one;
}
.list-two
{
    margin-left: 25%;
    grid-area: list-two;
}
.footer-links ul
{
    text-align: left;
}
.social-media-links
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-logo,
.social-media-links-item
{
    margin: 0 20px 25px 20px;
}
.footer-logo
{
    margin-top: 20px;
}
.copyright-text
{
    margin-bottom: 40px;
}
.footer-logo-large-viewport,
.copyright-text-large-viewport
{
    position: absolute;
    visibility: hidden;
}
.attribution
{
    height: 80px;
    padding: 40px;
    grid-area: attribution;
    color: var(--n-dark-blue);
    font-size: .6rem;
    width: 100%;
}
@media screen and (min-width: 576px)
{
    body.grid-container
    {
        max-width: 100%;
    }
    .has-nav-bar .nav-bar #nav-toggle
    {
        right: 16%;
    }
}
@media screen and (min-width: 768px)
{
    body .grid-container
    {
        background-position: 18rem -9.5rem, -28rem 38.2rem;
        background-size: 80%, 80%;
    }
    .has-nav-bar .nav-bar #nav-toggle
    {
        right: 4%;
    }
    .has-nav-bar .nav-bar .navlist
    {
        margin-top: 42px;
        height: 380px;
        font-size: 1.6rem;
    }
    .main-right,
    .main-left
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .main-right img
    {
        object-fit: cover;
    }
    .main-right img,
    .main-left p,
    .main-left h1
    {
        width: 70%;
    }
    #carousel
    {
        width: 80%;
    }
    #carousel .carousel-track-container
    {
        width: 80vw;
        margin: 0 10%;
    }
    .footer-top
    {
        background-position: 0rem .6rem;
        background-size: 8%;
    }
}
@media screen and (min-width: 992px)
{
    .has-nav-bar .nav-bar .navlist
    {
        height: 540px;
        font-size: 1.8rem;
    }
    body .grid-container
    {
        background-position: 30rem -13rem, -28rem 40.2rem;
        background-size: 70%, 70%;
    }
    #carousel .carousel-track-container
    {
        width: 70vw;
        margin: 0 12%;
    }
    .footer-top
    {
        background-position: 0rem 1.8rem;
        background-size: 5%;
    }
}
@media screen and (min-width: 1366px)
{
    body .grid-container
    {
        display: grid;
        height: calc(100%);
        grid-template-columns: repeat(2, minmax(10px, 1fr));
        grid-template-rows: .2fr .2fr .3fr .4fr .3fr .3fr .05fr;
        grid-template-areas: 
            "nav nav"
            "main main"
            "content content"
            "testimonials testimonials"
            "footer footer"
            "footer footer"
            "attribution attribution"
        ;
        background-position: 58rem -16rem, -28rem 56rem;
        background-size: 50%, 50%;
    }
    body  .btn-style
    {
        margin-top: 20px;
    }
    .has-nav-bar .nav-bar .nav-logo
    {
        visibility: visible;
        margin-top: 30px;
    }
    body .has-nav-bar,
    body .has-main,
    body .has-content,
    body .has-footer .footer-top,
    body .has-footer .footer-bottom
    {
        padding-left: 8%;
        padding-right: 8%;
    }
    .has-nav-bar .nav-bar #nav-toggle
    {
        visibility: hidden;
    }
    body button 
    {
        transition: .3s ease-in-out;
    }
    body button:hover
    {
        opacity: .8;
    }
    body .has-nav-bar
    {
        position: sticky;
        top: 0;
        background-color: transparent;
        grid-area: nav;
        z-index: 10;
        margin-bottom: 0;
        height: 100%;
        min-width: 100%;
    }
    body .has-nav-bar .nav-bar 
    {
        min-width: 50%;
        max-width: 84.3%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        background-color: transparent;
    }
    .has-nav-bar .nav-bar .nav-collapsible {
        min-width: 40%;
        max-width: 80%;
        flex-direction: row;
        justify-content: center;
    }
    .has-nav-bar .nav-bar .navlist
    {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        font-size: .8rem;
        height: calc(100%);
        padding: 0;
        transform: translateX(0);
        background-color: transparent;
        font-weight: 500;
    }
    .has-nav-bar .nav-bar .navlist .navitem
    {
        margin-right: 7px;
        margin-left: 7px;
        width: 115px;
        border-radius: 50px;
        background: #ffffff;
    }
    body .has-nav-bar .nav-bar .nav-get-started
    {
        visibility: visible;
        position: relative;
    }
    .has-main,
    .has-content
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .has-main
    {
        grid-area: main;
        grid-template-areas: "main-left main-right";
    }
    .main-left
    {
        grid-area: main-left;
    }
    .main-right
    {
        justify-content: flex-end;
        grid-area: main-right;
    }
    .main-right
    {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .main-right img
    {
        object-fit: cover;
    }
    .main-right img,
    .main-left p,
    .main-left h1
    {
        width: 70%;
    }
    .has-content
    {
        grid-area: content;
        grid-template-areas: "content-left content-right";
    }
    .content-left
    {
        grid-area: content-left;
    }
    .content-right
    {
        grid-area: content-right;
    }
    .has-main .main-left,
    .has-content .content-left
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .has-main .main-left .below-main-text,
    .has-content .content-left .below-main-text
    {
        padding: 0;
        width: 80%;
        margin: 25px 0;
        color: var(--n-dark-grayish-blue);
    }
    body h1
    {
        font-size: 2.6rem;
        font-weight: 700;
        width: 80%;
    }
    body h2
    {
        font-size: 2rem;
        font-weight: 700;
        width: 60%;
    }
    .has-content .product-card .card-head
    {
        background-color: transparent;
    }
    #carousel .carousel-change-left,
    #carousel .carousel-change-right
    {
        display: flex;
        width: 150px;
    }
    #carousel .carousel-change-left
    {
        align-items: flex-end;
    }
    #carousel .carousel-change-right
    {
        align-items: flex-start;
    }
    .carousel-button
    {
        height: 18px;
        width: 10px;
    }
    #carousel .carousel-track-container
    {
        margin: 0 22%;
    }
    .carousel-nav
    {
        width: 10%;
    }
    .carousel-nav .carousel-indicator
    {
        height: 12px;
        width: 12px;
    }
    body .has-carousel button.carousel-get-started
    {
        visibility: visible;
    }
    .has-footer
    {
        margin-top: 120px;
    }
    .footer-top
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "footer-heading footer-button";
        background-image: url(../images/bg-simplify-section-desktop.svg);
        background-repeat: no-repeat;
        background-position: 12.5rem -8rem;
        background-size: 100%;
    }
    .footer-top-left-top
    {
        text-align: left;
    }
    .footer-top-right-bottom
    {
        text-align: right;
    }
    .footer-bottom
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "social-media-links-wrap footer-links sign-up";
        max-height: 320px;
        padding-top: 40px;
    }
    .footer-logo,
    .copyright-text
    {
        visibility: hidden;
    }
    .footer-logo-large-viewport,
    .copyright-text-large-viewport
    {
        position: relative;
        visibility: visible;
    }
    .footer-logo-large-viewport
    {
        max-width: 44%;
    }
    .copyright-text-large-viewport
    {
        margin-top: 60px;
    }
    .footer-links
    {
        grid-area: footer-links;
    }
    .social-media-links-wrap
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: social-media-links-wrap;
        margin: 50px 0 0 50px;
    }
    .list-one,
    .list-two
    {
        margin-left: 0;
    }
    .social-media-links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer-logo, .social-media-links-item {
        margin: 0 20px 25px 4px;
    }
    .sign-up
    {
        grid-area: sign-up;
        margin-top: 20px;
    }
    .footer-heading
    {
        font-size: 2.4rem;
        grid-area: footer-heading;
        margin-left: 50px;
        max-width: 70%;
    }
    .footer-button
    {
        margin-right: 50px;
        grid-area: footer-button;
    }
    .attribution
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        margin-top: 40px;
        font-size: .8rem;
        color: var(--n-pale-red);
    }
    .attribution span
    {
        margin: 0 12px;
    }
}
@media screen and (min-width: 1900px)
{
    body .grid-container
    {
        background-position: 78rem -12rem, -20rem 60rem;
        background-size: 40%, 40%;
    }
    #carousel
    {
        width: 60%;
    }
    .footer-top
    {
        background-position: 12.5rem -16rem;
        background-size:110%;
    }
}